---
import Menu from "../icons/menu.astro";
import Cancel from "../icons/cancel.astro";

---

<nav class="flex items-center justify-between lg:px-12 px-6 py-4 text-2xl bg-transparent border-b-2 border-white sticky top-0 z-50" id="header">
	<div  id="web" class="cursor-pointer hover:text-secondary duration-300 ease-in-out">JW'0</div>
	
	<input type="checkbox" id="menu"  hidden/>	
	<label for="menu" class="block lg:hidden" id="button_menu"><Menu/></label>
	<label for="menu" class=" hidden z-50 " id="cancel"><Cancel/></label>
	
		<div class=" lg:flex-row flex flex-col fixed lg:z-10 -z-50  justify-start pt-44 gap-y-10 lg:py-0 lg:bg-transparent bg-gray-900 inset-0 translate-y-[-100%] lg:translate-0 lg:static items-center gap-x-8 p-4 transition-transform lg:transition-none duration-300 ease-in-out opacity-0 lg:opacity-100 " id="mobileMenu">
		<h1 id="about" class="hover:text-secondary duration-300 ease-in-out cursor-pointer">Acerca de</h1 >
		<label for="menu"><a href="#portfolio" class="hover:text-secondary duration-300 ease-in-out ">Portafolio</a ></label>
		<a href="#technologies" class="hover:text-secondary duration-300 ease-in-out ">Tecnologias</a >
		<a href="#contact" class="hover:text-secondary duration-300 ease-in-out ">Contacto</a >
	</div>
</nav>

<script>
	const aboutLink = document.getElementById('about');
	const web = document.getElementById('web');

	const menuCheckbox = document.getElementById('menu');
    const links = document.querySelectorAll('#mobileMenu a, #about');

    links.forEach(link => {
        link.addEventListener('click', () => {
            menuCheckbox.checked = false;
        });
    });



	aboutLink?.addEventListener('click', () => {
		window.scrollTo({
			top: 0,
			behavior: 'smooth'
		});
	});
	web?.addEventListener('click', () => {
		window.scrollTo({
			top: 0,
			behavior: 'smooth'
		});
	});
</script>
<style>

		#menu:checked ~ #mobileMenu {
		transform: translateY(100%);
		z-index: 10;
		opacity: 1;
		pointer-events: auto;
	}
		#menu:checked ~ #cancel {
		display: block;
		}
		#menu:checked ~ #button_menu {
		display: none;
		}


	#header{
		animation: BlurEffect auto linear both;
		animation-timeline: scroll(root);
		animation-range: 0 100px;
	}

	@keyframes BlurEffect {
		to{
			background-color: rgba(1, 1, 39, 1);
		}
		
	}
</style>