<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://lh3.googleusercontent.com/ogw/AF2bZyjZ-JS05E-AAhSoFGrcQxVButQraBPqctoxuG5RQQ=s32-c-mo" class="rounded-full overflow-hidden"/>
		<meta name="generator" content={Astro.generator} />
		<title>Portafolio Web</title>
	</head>
	<body class="bg-primary text-white m-0 font-web">
		<slot />
	</body>
</html>

<style>
	html,body{
		scroll-behavior: smooth;
	}

	
</style>
